[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
async-timeout = "==4.0.2"
configobj = "*"
pymysql = "==1.0.2"
psutil = "==5.9.1"
wavelink = "*"
"discord.py" = {version = "*", extras = ["voice"]}
pymongo = {version = "*", extras = ["srv"]}
fastapi = "*"
uvicorn = "*"
requests = "*"
sydney-py = "*"
reactionmenu = "*"
dnspython = "*"
pip = "*"
mcstatus = "*"

[dev-packages]

[requires]
python_version = "3.10"
