[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
async-timeout = "==4.0.2"
configobj = "*"
pymysql = "==1.0.2"
psutil = "==5.9.1"
pymongo = "==4.3.3"
"discord.py" = "*"
wavelink = "*"

[dev-packages]

[requires]
python_version = "3.10"
